/*  PLACE HERE YOUR SYSTEM CUSTOM CSS */

/* tag colors*/
.tagStyle_sports {
    background-color: green !important;
    color: white !important;
}

.tagStyle_weather {
    background-color: blue !important;
    color: white !important;
}

.tagStyle_music {
    background-color: purple !important;
    color: white !important;
}

.tagStyle_movies___art {
    background-color: red !important;
    color: white !important;
}

.answer-list {
    margin-top: 100px;
}

.answer-list li {
    list-style: none;
}

.answer-chart {
    margin-top: 100px;
}

.SimpleQuiz label {
    padding-left: 10px;
}
