@inherits Box.CMS.Web.ContentRenderView
@using Box.CMS;
@using Box.CMS.Web;
@{
    Page.Title = HEAD.Name;
    Layout = "~/_PageLayout1C.cshtml";
    
    string host = Request.Url.Authority;
}

@section head {
    @RenderPage("~/parts/meta-head-content.cshtml", HEAD)
}

@section scripts {
    <script src="~/Scripts/Box.Gallery.js"></script>
    @Site.ThumbsGallery("Images", CONTENT.Images)
}

@section breadcrumbs {    
    <li><a href="@Href("~/albums")">Albums</a></li>    
}

<h4>@HEAD.Abstract</h4>


<div id="__boxImgGalleryImages"></div>