<html>
<body>
    <h2>@Model.Name, a new password was created for you.</h2>                

    <b>Warning!</b>
    If you did not request a new password, do not click at the link, and just ignore this e-mail.
    <br/><br/>
        
    Your new password is: <b>@Model.NewPassword</b>
    <br /><br />                
    
    For security reasons you must access the following link in order to enable the new password:<br/><br /> 
    <a href="@Model.SiteRoot/apply-new-password/@Model.ChangeKey">@Model.SiteRoot/apply-new-password/@Model.ChangeKey</a>
            
</body>
</html>