<html>
<body>

    <h2>Registration complete</h2>
    Dear @Model.Name, your registration was sucefully completed.<br />
    Thank you for you registration<br /><br />
    
    Name  @Model.Name <br />
    Email @Model.Email <br />

</body>
</html>
