@{
    Page.Title = "Apply new password";
    Layout = "~/_PageLayout1C.cshtml";
    Box.Core.Services.SecurityService service = new Box.Core.Services.SecurityService();
    string msgResposta;
    bool applied = service.ApplyResetPassword(UrlData[0]);
    if (applied){
        msgResposta = "Your password has been changed.";
    } else {
        msgResposta = "Sorry, could not change your password.";
    }
}
<div class="grid_10">        
    <div>
        @msgResposta        
    </div>
</div>