@{       
    Page.Title = "Forgot your password?";
    Layout = "~/_PageLayout1C.cshtml";
    
    bool requested = false;
    
    if (IsPost && !string.IsNullOrEmpty(Request.Form["login"])) {
        Box.Core.Services.SecurityService security = new Box.Core.Services.SecurityService();
        string login = Request.Form["login"];
        security.ResetPassword(login);
        requested = true;
    }
}

@if (!requested) {    
<form method="post" id="form">    
    <div class="form-group">
        <label for="contactEmail">E-mail</label>
        <input name="login" class="form-control required" placeholder="Please enter your e-mail" maxlength="50" />
    </div>   
    
    <input type="submit" class="btn btn-default" value="Send me" />    
</form>    
} 

@if (requested) {
    <h2>A new password was generated and sent to your e-mail address.</h2>
    <p>Use the link provided at your e-mail to enable the new password.</p>
}

@section scripts {
    <script type="text/javascript" src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript">
        $(function () { $("#form").validate(); });
    </script>
}


