<!-- LOADING DATA -->
<div data-bind="visible: loadingData==true" id="loadingData">
    <div>
        <i class="icon-busy"></i>
        <span>@Resources.SharedStrings.Loading_data</span>        
    </div>
</div>