<!-- LOADING DATA -->
<div data-bind="visible: loadingData==true" id="loadingData">
    <div>
        <i class="icon-busy"></i>
        <span>@Resources.SharedStrings.Loading_data</span>        
    </div>
</div>

<script type="text/javascript">
    window.nicEditorStrings = new Object();
    window.nicEditorStrings.cleanAll = '@{<text>@Html.Raw(Box.CMS.SharedStrings.NICEDIT_cleanAll)</text>}';
    window.nicEditorStrings.keepBreakLines = '@{<text>@Html.Raw(Box.CMS.SharedStrings.NICEDIT_keepBreaklines)</text>}';
    window.nicEditorStrings.cleanOnlyStyle = '@{<text>@Html.Raw(Box.CMS.SharedStrings.NICEDIT_cleanStyleOnly)</text>}';
</script>
 