<?xml version="1.0" encoding="utf-8"?>
<ArrayOfContentKind xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!--  
  <ContentKind>
    <Kind></Kind>
    <FriendlyName></FriendlyName>
    <FriendlyPluralName></FriendlyPluralName>
    <CaptureController></CaptureController>
    <CaptureListView></CaptureListView>
    <CaptureDetailView></CaptureDetailView>
    <AnyTimeDefaultFilter></AnyTimeDefaultFilter>
    <NameDefaultFilter></NameTimeDefaultFilter>
    <DisplayOrder>1</DisplayOrder>
    <Locations>
      <string>/</string>      
    </Locations>    
    <Tags>
      <string></string>
    </Tags>
    <RequiredRolesToEdit>
      <string>ADM_CMS_XXX</string>
    </RequiredRolesToEdit>
  </ContentKind>
  -->

  <ContentKind>
    <Kind>PAGE</Kind>
    <FriendlyName>Page</FriendlyName>
    <DisplayOrder>1</DisplayOrder>
    <AnyTimeDefaultFilter>true</AnyTimeDefaultFilter>
    <NameDefaultFilter>true</NameDefaultFilter>
    <Locations>
      <string>/pages/</string>
    </Locations>    
  </ContentKind>


  <ContentKind>
    <Kind>NEWS</Kind>
    <FriendlyPluralName>News</FriendlyPluralName>
    <FriendlyName>News</FriendlyName>
    <DisplayOrder>2</DisplayOrder>
    <Locations>
      <string>/news/</string>      
    </Locations>    
    <Tags>
      <string>sports</string>
      <string>weather</string>
      <string>music</string>
      <string>movies &amp; art</string>      
    </Tags>
  </ContentKind>

  
  <ContentKind>
    <Kind>DOC</Kind>
    <FriendlyName>Document</FriendlyName>
    <DisplayOrder>3</DisplayOrder>
    <Locations>
      <string>/documents/</string>      
    </Locations>    
  </ContentKind>

  <ContentKind>
    <Kind>ALBUM</Kind>
    <FriendlyName>Album</FriendlyName>
    <DisplayOrder>4</DisplayOrder>
    <Locations>
      <string>/albums/</string>
    </Locations>    
  </ContentKind>

  <ContentKind>
    <Kind>QUIZ</Kind>
    <FriendlyName>Simple Quiz</FriendlyName>
    <FriendlyPluralName>Simple Quiz</FriendlyPluralName>
    <DisplayOrder>5</DisplayOrder>
    <Browsable>false</Browsable>
    <AnyTimeDefaultFilter>true</AnyTimeDefaultFilter>
    <Locations>
      <string>/quizzes/</string>
    </Locations>
  </ContentKind>

  <ContentKind>
    <Kind>SCHEDULE</Kind>
    <FriendlyName>Schedule</FriendlyName>
    <FriendlyPluralName>Schedules</FriendlyPluralName>
    <DisplayOrder>6</DisplayOrder>
    <Browsable>false</Browsable>
    <AnyTimeDefaultFilter>true</AnyTimeDefaultFilter>
    <Locations>
      <string>/schedules/</string>
    </Locations>
  </ContentKind>
  

  <ContentKind>
    <Kind>LINK</Kind>
    <FriendlyName>Link</FriendlyName>
    <DisplayOrder>6</DisplayOrder>    
    <AnyTimeDefaultFilter>true</AnyTimeDefaultFilter>
    <Locations>
      <string>/</string>
    </Locations>
  </ContentKind>

</ArrayOfContentKind>