<?xml version="1.0" encoding="utf-8"?>
<ArrayOfContentUserGroup xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<ContentUserGroup>
    <UserGroupUId>ADM_CMS_NEWS</UserGroupUId>
    <Name>News Manager</Name>
    <Description>Add, edit and remove news at the web-site.</Description>
  </ContentUserGroup>-->  
</ArrayOfContentUserGroup>